# Auto detect text files and perform LF normalization
* text=auto
ERP-BaseApp/.vs/ProjectEvaluation/erp-baseapp.projects.v7.bin filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
